.app {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,.list a:active {
  color: var(--color-primary-800);
  text-decoration: underline;
}

main {
  margin: 2rem auto;
  text-align: center;
}

.blist{
  margin: 2rem auto;
  max-width: 40rem;
}

.blist a{
  text-transform: capitalize;
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 1px 4px rgb(227, 146, 26);
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  text-decoration: none;
  border-radius: 4px;
}

.blist a:hover{
  background-color: var(--color-primary-500);
  color: var(--color-gray-800);
  text-decoration: wavy
}